
<h1> ShareFile </h1> 
<h4>
<% if current_user %>
    <%= link_to 'Logout', '/logout', :data => { :confirm => 'Are you sure?' }, method: "delete"%>
    <% if @files.any?%>
        <h3>Uploaded Files</h3>
        <% @files.each do |file| %>
            <br>
            <%= "filename: #{file.filename}"  %>
            <%= link_to 'Share Link', "#{get_url(file)}"%>
            <%= link_to 'Delete', file_delete_path(file: file), :data => { :confirm => 'Are you sure?' }, method: "delete"%>
        <% end %>
    <% end %>
    <br><br>
    <%= form_for :user, url: '/file/attach' do |form| %>
        <h3> Upload file </h3>
            
        <%= form.label :file %>
        <%= form.file_field :file %>

            
        <%=  submit_tag("Upload") %>
    <% end %>
<% else %>
    <%= link_to 'Signup', '/signup'%>
    <%= link_to 'Login', '/login'%>
<% end %>
</h4>